* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotu", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 5px 0 10px 0 !important;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 30px;
  font-weight: bold;
  color: rgb(4, 94, 133);
}

/* navbar section */

.nav-container {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.nav-wrapper {
  max-width: 1100px;
  margin: auto;
}

.profile {
  font-size: 28px !important;
}

/* welcome section */

#welcome-section {
  width: 100%;
  height: 92vh;
  position: relative;
  background-image: url("https://c8.alamy.com/comp/PF3P27/desktop-source-code-and-technology-background-developer-or-programer-with-coding-and-programming-wallpaper-by-computer-language-and-source-code-com-PF3P27.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blur {
  width: 100%;
  height: 92vh;
  position: absolute;
  top: 0px;
  background-color: black;
  opacity: 0.88;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* z-index: 80; */
}

.profile-image {
  height: 300px;
  width: 172px;
  border-radius: 30px;
  padding: 5px;
}

.profile-image > img {
  height: 285px;
  border-radius: 30px;
  position: relative;
  /* z-index: 90; */
}

.profile-content {
  width: 625px;
  padding: 5px 10px;
  /* border: red 1px solid; */
}

/* projects section */

#projects {
  height: 40px;
}

#project-section {
  width: 100%;
  background-color: whitesmoke;
}

#project-text {
  color: #004d40;
  width: 347px;
  margin: 0 auto 2rem auto !important;
  padding-top: 2rem;
  border-bottom: 3px solid;
}

.project-container {
  width: 1100px;
  margin: 0 auto;
  padding: 3rem 25px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(autofit, auto);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.card {
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  box-shadow: -6px 6px 22px 0px rgba(0, 0, 0, 0.75);
}

.card-image {
  height: 150px !important;
}

.card-image > img {
  height: 150px !important;
}

.card-content {
  padding-top: 10px !important;
}

.card-content > p {
  font-size: 18px;
  text-align: left;
}

/* media */

@media (max-width: 1024px) {
  .project-container {
    width: 1000px;
  }

  /* .project-tile {
        width: 450px;
    } */
}

@media (max-width: 768px) {
  .project-container {
    width: 700px;
    padding: 5rem 100px;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 20px;
  }

  .nav-item {
    display: inline;
    padding: 4px 4px;
    margin: 0.25rem 4px;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    padding: 4px;
    font-size: 16px !important;
  }

  .nav-item:hover {
    border-left: white dotted 1px;
    border-right: white dotted 1px;
    padding: 4px 3px;
    font-weight: bold;
  }

  .contact-links {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
  }

  /* projects section */

  #project-text {
    width: 300px;
  }

  .project-container {
    width: 300px;
    padding: 1rem 0px 3rem 0px;
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }

  .project-tile {
    width: 300px;
    border: 1px solid;
    text-decoration: none;
    color: white;
  }

  .project-folder {
    display: none !important;
  }

  .project-title-deco {
    width: 300px;
    padding: 0px;
    font-size: 16px !important;
    /* border: solid 1px red; */
  }

  .project-tile:hover .code {
    font-size: 16px;
  }

  .contact-details {
    display: flex;
    flex-direction: row;
  }
}




