* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gotu", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 5px 0 10px 0 !important;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 30px;
  font-weight: bold;
  color: rgb(4, 94, 133);
}

/* navbar section */

.nav-container {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.nav-wrapper {
  max-width: 1100px;
  margin: auto;
}

.profile {
  font-size: 28px !important;
}

/* welcome section */

#welcome-section {
  width: 100%;
  height: 92vh;
  position: relative;
  background-image: url("https://c8.alamy.com/comp/PF3P27/desktop-source-code-and-technology-background-developer-or-programer-with-coding-and-programming-wallpaper-by-computer-language-and-source-code-com-PF3P27.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blur {
  width: 100%;
  height: 92vh;
  position: absolute;
  top: 0px;
  background-color: black;
  opacity: 0.88;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-image {
  height: 300px;
  width: 175px;
  border-radius: 30px;
  border-radius: 30px;
  padding: 5px;
}

.profile-image > img {
  height: 285px;
  border-radius: 30px;
  position: relative;
}

.profile-content {
  max-width: 625px;
  padding: 5px 10px;
  text-align: justify;
}

/* about section */

#about-section {
  width: 100%;
  height: 100vh;
  background-color: #343434;
  
}

#about {
  height: 65px;
  /* background-color: brown; */
}

.about-content{
  display: flex;
  color: white;
  margin: 0 8rem;
  margin-top: 20px;
  padding: 3rem;
  /* text-align: center; */
  border-radius: 30px;
  background-color: rgb(39, 39, 39);
}

.about-text {
  /* border: 1px solid red; */
  width: 100%;
  margin: 6rem 0 0 1rem;
}

.about-text > p {
  color: white;
  font-size: medium;
  font-weight: normal;
}

/* projects section */

#project-section {
  width: 100%;
  background-color: #2a2a2a;
}

#projects {
  height: 40px;
}

#project-text {
  color: rgb(4, 94, 133);
  width: 347px;
  margin: 0 auto 2rem auto !important;
  padding-top: 2rem;
  border-bottom: 3px solid;
}

.project-container {
  width: 1100px;
  margin: 0 auto;
  padding: 3rem 25px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(autofit, auto);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.card {
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  box-shadow: -6px 6px 22px 0px rgba(0, 0, 0, 0.75);
}

.card-image {
  height: 150px !important;
}

.card-image > img {
  height: 150px !important;
}

.card-content {
  padding-top: 10px !important;
}

.card-content > p {
  font-size: 18px;
  text-align: left;
}

.card-action{
  display: flex;
  justify-content: space-around;
  /* padding: 0 !important; */
}

/* footer */

#footer-section {
  background-color: rgb(33, 33, 33);
  height: 40px;
  display: flex;
    justify-content: center;
  align-items: center;
}

.contact-links {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.contact-details > i {
  display: inline-block;
  width: 20px;
}

.contact-links > a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 2px auto;
}

/* media */

@media (max-width: 1024px) {
  .project-container {
    width: 1000px;
  }

  /* .project-tile {
        width: 450px;
    } */
}

/* tablet */
@media (max-width: 768px) {
  .project-container {
    width: 700px;
    padding: 5rem 100px;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 20px;
  }

  /* navbar section */

  .nav-wrapper > a {
    display: none;
  }

  .nav-wrapper > ul > li > a {
    font-size: 12px;
  }

  /* welcome section */

  .blur {
    display: flex;
    flex-direction: column;
  }

  /* projects section */

  #project-text {
    width: 260px;
    border-bottom: 3px solid;
  }

  .project-container {
    width: 300px;
    padding: 1rem 0px 3rem 0px;
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }

  .project-tile {
    width: 300px;
    border: 1px solid;
    text-decoration: none;
    color: white;
  }

  .project-folder {
    display: none !important;
  }

  .project-title-deco {
    width: 300px;
    padding: 0px;
    font-size: 16px !important;
  }

  .project-tile:hover .code {
    font-size: 16px;
  }

  /* .contact-details {
    display: flex;
    flex-direction: row;
  } */

  /* .contact-links {
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  } */

  /* .contact-details > span { */
  /* display: none; */
  /* width: 95px; */
  /* margin-left: 5px; */
  /* } */

  .contact-details {
    width: 0px;
  }

  .contact-details > span {
    display: none;
  }

  .contact-links > a {
    /* color: black;
    text-decoration: none;
    font-size: 20px; */
    padding: 2px 2rem;
  }

  .contact-links > a:hover {
    padding: 2px 2rem 1px 2rem;
    /* color: #422602; */
    /* border-bottom: #004d40 1px solid; */
  }
}
